USE [crossover]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 8/8/2020 8:02:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductName] [nvarchar](250) NOT NULL,
	[SupplierName] [nvarchar](250) NULL,
	[Url] [nvarchar](300) NOT NULL,
	[LocalFile] [varbinary](max) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DownLoadDate] [date] NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([ProductName], [SupplierName], [Url], [LocalFile], [Id], [DownLoadDate]) VALUES (N'Absol', N'Yxhult/Svesten AB', N'http://www.yxhult.se/_pdf/absol/Absol_sakerhetsdatablad_ver_12_se.pdf', NULL, 1, NULL)
INSERT [dbo].[tblProduct] ([ProductName], [SupplierName], [Url], [LocalFile], [Id], [DownLoadDate]) VALUES (N'Addinol Super Ligth Mv 0546', N'Addinol Lube Oil GmbH', N'http://www.addinol.de/oilfinder/show_msds.php?id=43475', NULL, 3, CAST(N'2020-08-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
